/*样式重置*/
body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select{padding: 0;	margin: 0; font-family: arial;}
li{list-style: none;}
img{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}

/*top背景*/
body{background: #fff url(../images/body_bg.png) repeat-x;}

/*top区域*/
#top{width: 960px; margin: 0 auto; height: 30px; line-height: 30px; font-size: 13px;}

.top_menu{float: left;}
.top_menu ul{}
.top_menu li{float: left; padding-right: 18px; margin-right: 15px; background: url(../images/top_bg.gif) no-repeat right 14px;}
.top_menu a{color: #c0c0c0;}
.top_menu a:hover{color: #fff;}
.top_menu .none{background: none;}

.top_bar{float: right;}
.top_bar li{float: left;font-weight: bold; color: #fff; height: 30px; line-height: 30px;}
.top_bar .phone{background: url(../images/top_bg.gif) no-repeat 6px -15px; padding: 0 38px;}
.top_bar .help{background: url(../images/top_bg.gif) no-repeat 0 -46px; padding-left: 38px; margin-right: 30px;}
.top_bar .help a{color: #fff;}
.top_bar .space{margin-right: 12px;}
.top_bar img { float:left; position:relative; top:10px; }

/*header区域*/
#header{width: 960px; margin: 0 auto; height: 100px; background: url(); position: relative;background: url(../images/header_bg.png) no-repeat center 0;}
#shopping {width: 288px; height: 100px; background: url(../images/ico.png) no-repeat 0 7px;position: relative;}
#shopping p{color: #fff; font-size: 20px; font-weight: bold;position: absolute; top: 28px; left: 85px;}
#shopping a{color: #ffc200; font-weight: bold; position: absolute; top: 63px; left: 104px; text-align: center; width: 114px; height: 23px; line-height: 22px; background: url(../images/ico.png) no-repeat 0 -93px;}
#shopping a:hover{color: #ff9; text-decoration: none;}

#header h1{width: 238px; margin: 0 auto; position: absolute; top: 0; left: 50%; margin-left: -119px;}

/*.search选择器复用*/
.search{width:292px; height: 31px; background: url(../images/ico.png) no-repeat 0 -116px;}

#header .search{position: absolute; top: 33px; right: 0;}
.search .text{width: 210px;height: 30px; line-height: 30px;background: none; border: none; float: left; margin-left: 20px; font-weight: bold; font-size: 13px; outline: none; }
.search .btn{width: 42px; height: 30px; float: right; border: none; background: none;}

/*nav区域*/
#nav{width: 960px; height: 43px; margin: 0 auto;}
#nav li{float: left; padding-top: 7px; margin-right: 2px;}
#nav a,#nav strong,#nav span{float: left; height: 29px; line-height: 28px;}
#nav a{color: #fff;font-size: 15px;}
#nav strong{font-weight: normal;}
#nav span{padding: 0 16px;}

#nav .active a,#nav a:hover{background: url(../images/nav_bg.png) repeat-x 0 -29px;}
#nav .active strong,#nav a:hover strong{background: url(../images/nav_bg.png) no-repeat 0 0;}
#nav .active span,#nav a:hover span{background: url(../images/nav_bg.png) no-repeat right -58px;}

/*content背景区域*/
#content{width: 1000px; background: url(../images/content_bg.png) repeat-y -2000px 0; margin: 24px auto 0;}
#content .content_top{width: 1000px; background: url(../images/content_bg.png) no-repeat; }
#content .content_bottom{width: 1000px; background: url(../images/content_bg.png) no-repeat -1000px bottom; padding-top: 10px; }

/*banner ad区域*/
#ad{width: 940px; height: 300px; position: relative; margin: 0 auto; }
#ad a, #ad h2, #ad p ,#ad .bg{position: absolute;}
/*#ad a{width:940px; height: 300px; margin: 0 auto; top: 10px;}*/
#ad .text{}
.text h2{color: #ffc600; font-size: 25px; left: 0; bottom: 10px; z-index: 3; text-align: center; width: 268px; }
.text p{color: #ffcccc; font-size: 13px; left: 268px; bottom: 7px; z-index: 3; width: 630px; line-height: 16px;}
#ad .bg{width: 940px; height: 52px; bottom: 0; left: 0; background: #000; filter: alpha(opacity: 80); opacity: 0.8; z-index: 1;}

/*main区域*/
#main{width: 940px; margin: 0 auto; padding-top: 30px; }
#side{float: left; width: 210px; }
#wrap{float: right; width: 706px; }
/*清除浮动*/
.clearfix{zoom:1;}
.clearfix:after{content: ""; display: block; clear: both; }
/*侧栏背景*/
#side .module_menu{margin-bottom: 20px;}
.module_menu h2{height: 29px; background: url(../images/module_menu_h2_bg.png) repeat-x 0 -58px; font-size: 15px; color: #fff; margin-bottom: 1px; }
.module_menu strong{display: block; height: 29px; background: url(../images/module_menu_h2_bg.png) no-repeat 0 -29px;  }
.module_menu span{display: block; height: 29px; background: url(../images/module_menu_h2_bg.png) no-repeat right 0; line-height: 28px; font-size: 15px; font-weight: normal; text-indent: 40px; }
/*侧栏列表*/
#side .list{background: url(../images/wrap_bg.gif) repeat-y -210px 0; }
.list ul{background: url(../images/wrap_bg.gif) no-repeat 0 bottom; padding: 16px 8px;}
.list li{}
.list a{font-weight: bold; font-size: 12px; color: #434343; text-decoration: none; border-bottom: 1px solid #fff; height: 27px; line-height: 26px; display: block; text-indent: 32px;}
.list a:hover{color: #b20e00; background: #f9de88; border-bottom: 1px solid #963; }
/*Join Now background自适应*/
.module_connect{background: url(../images/wrap_bg.gif) repeat-y -630px 0; margin-bottom: 20px; }
.module_t{background: url(../images/wrap_bg.gif) no-repeat -420px 0; }
.module_b{background: url(../images/wrap_bg.gif) no-repeat -840px bottom; padding: 0 6px; }
/*Join Now form */
.module_connect .module_join{width:180px; margin: 0 auto; }
.module_join p{color: #666; font-size: 15px; line-height: 18px; padding: 10px 0; text-align: left;  }
.module_join .text{border: 1px solid #fff; border-left: 1px solid #c0c0c0; border-top: 1px solid #9c9c9c; width: 175px; height: 25px; line-height: 25px; margin-bottom: 7px;}
.module_join .btn{width: 88px; height: 25px; border: none; background: url(../images/ico.png) no-repeat 0 -147px; color: #fff; font-size: 15px; font-weight: bold; margin: 0 auto; display: block; }
/*Join Now list*/
.module_list{background: url(../images/ico.png) no-repeat 10px -172px; }
.module_list li{border-top: 1px solid #fff; font-size: 13px; color: #434343; line-height: 15px; padding-left: 62px; }
.module_list .space1{height: 45px; line-height: 45px; }
.module_list .space2{height: 40px; padding-top: 8px; }
.module_list .space3{height: 40px; padding-top: 8px; }
.module_list .space4{height: 38px; padding-top: 8px; }
/*payment*/
#payment{text-align: center; }
#payment a{display: block; margin-bottom: 10px;}

/*wrap*/
#wrap{}
/*sort*/
.sort{height: 20px; }
.sort dl{float: left; }
.sort dt{float: left; font-size: 12px; color: #747474; font-weight: bold; line-height: 19px; margin-right: 3px; }
.sort dd{width: 110px; height: 19px; position: relative; float: left; margin-right: 12px; }
.sort h2{width: 90px; height: 17px; line-height: 17px; font-weight: normal; font-size: 12px; color: #747474; text-indent: 5px; border: 1px solid #ccc; border-right: none; }
.sort dd a{width: 19px; height: 19px; background: url(../images/ico.png) no-repeat 0 -382px; position: absolute; top: 0; right: 0;}
.sort ul{display: none; }
.sort li{background: #ccc; padding:5px 0 0 5px; }
.sort p{float: right; font-size: 12px; line-height: 20px; color: #747474; padding-right: 10px; }
.sort strong{color: #999; margin-right: 10px; }
.sort span{color: #b20e00; }


